<h1>Submit Match Report</h1>

<form method="POST">
    {% csrf_token %}

    <label>Match</label>
    <select name="match" onchange="window.location='?match='+this.value">
    <option value="">Select Match</option>

    {% for match in matches %}
        <option value="{{ match.id }}">
        {% if selected_match and selected_match.id == match.id %}
        selected
        {% endif %}>
            {{ match }}
        </option>
    {% endfor %}
    </select>

    <br><br>

    <label>Home Score</label>
    <input type="number" name="home_score" min="0" required>

    <br><br>

    <label>Away Score</label>
    <input type="number" name="away_score" min="0" required>

    <br><br>

    <label>Goal Scorers</label><br>

    {% for player in players %}
        <input type="checkbox"
            name="goal_scorers"
            value="{{ player.id }}">
        {{ player.player_name }}
        <br>
    {% endfor %}

    <br><br>

    <label>Assist Providers</label><br>

    {% for player in players %}
        <input type="checkbox"
            name="assist_players"
            value="{{ player.id }}">
        {{ player.player_name }}
        <br>
    {% endfor %}

    <br><br>

    <label>Clean Sheet Keepers</label><br>

    {% for player in players %}
        <input type="checkbox"
            name="clean_sheet_keepers"
            value="{{ player.id }}">
        {{ player.player_name }}
        <br>
    {% endfor %}
    <br><br>

    <label>Yellow Card Players</label><br>
    
    {% for player in players %}
        <input type="checkbox"
            name="red_card_players"
            value="{{ player.id }}">
        {{ player.player_name }}
        <br>
    {% endfor %}
    <br><br>

    <label>Red Card Players</label><br>

    {% for player in players %}
        <input type="checkbox"
            name="red_card_players"
            value="{{ player.id }}">
        {{ player.player_name }}
        <br>
    {% endfor %}
    <br><br>

    <label>Referee Comments</label><br>
    <textarea name="comments" rows="5" cols="50"></textarea>

    <br><br>

    <label>Incidents</label><br>
    <textarea name="incidents" rows="5" cols="50"></textarea>

    <br><br>

    <button type="submit">
        Submit Report
    </button>

</form>