{% extends "admin/base.html" %}

{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/baraton_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        Baraton Soccer League Admin
    </a>

    <a href="/" style="
        color:white;
        text-decoration:none;
        padding:8px 14px;
        background:#006400;
        border-radius:6px;
        margin-left:15px;
    ">
        🏠 Home
    </a>

    <span style="float:right; margin-right:20px;">
        🔔
        <a href="/admin/notifications/adminnotification/">
            Notifications ({{ unread_notifications }})
        </a>
    </span>
</h1>
{% endblock %}