<h2>Finance Tracking</h2>

<form method="POST">

    {% csrf_token %}

    <label>Category</label>

    <select name="category">

        <option>Team Registration</option>

        <option>Player Transfer</option>

        <option>Fine</option>

        <option>Sponsorship</option>

        <option>Match Revenue</option>

        <option>Expense</option>

    </select>

    <br><br>

    <label>Team</label>

    <select name="team">

        <option value="">
            ---------
        </option>

        {% for team in teams %}

        <option value="{{ team.id }}">
            {{ team.name }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <label>Amount</label>

    <input type="number" name="amount">

    <br><br>

    <label>Description</label>

    <textarea name="description"></textarea>

    <br><br>

    <label>Transaction Date</label>

    <input type="date" name="transaction_date">

    <br><br>

    <button type="submit">
        Save Record
    </button>

</form>